
[cxm-app]
{{ CLOUDFILE_FQDN }}

[cxm-db]
{{ CLOUDFILE_FQDN }}

[cxm-proxy]
{{ CLOUDFILE_FQDN }}

[all:vars]

# base_hostname
#  hostname a client will reach the server at.
#  ends with cxmweb.com
base_hostname=demo.cxmweb.com

# cxm_app_version
# version of CXM to be deployed.
cxm_app_version=3.4.7.3-SNAPSHOT

# cxm_app_war_filename
# name of actual war file.  LS=License Server LC=License Client
cxm_app_war_filename=CreedenzCXM-3.4.7.3-SNAPSHOT-feature-uiredesignchanges-LS.war

# cxm_client
#  name of client without spaces
cxm_client=demo

# cxm_client_version
#  should be incremented with each release to production
cxm_client_version=1.0.1

# cxm_db_import_filename
#  default file used to load database
#  when the serveris initially built
cxm_db_import_filename=cxmdb.sql


# DO NOT CHANGE
cxm_client_branch={{ CLOUDFILE_BRANCH }}

# DO NOT CHANGE
cxm_databases='["cxmdb"]'

# DO NOT CHANGE
cxm_db_driver=mysql
