body{
	margin-top: 10px; 
	background-color: #eaeaea;
}

.article-title
 {
	margin:0px 0 0px 5px;
	padding:8px 0 20px 0px;
	font-size:25px;
	font-weight:normal;
	color:#5eac56
}

.article-title .a
 {
	margin:8px 0 8px 13px;
	padding:8px 0;
	font-size:25px;
	font-weight:normal;
	color:#6e6e6e
}


p.article-info {
	margin-bottom:8px;
	padding:6px 12px;
	/*color:#00c3ff;*/
	color:#ffffff;
	background:#626161;
    width: 100%;
}


.article-properties {
	border-top:1px solid #bbb;
	width:100%;
	background:#d2d2d2;
	padding:16px 20px;
}

.article-summary{
	
}
.article-related p 
{
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.article-related p a
{
	color: #FF6600;
}


.rating {
  overflow: hidden;
  display: inline-block;
}
.rating-input {
  position: absolute;
  left: 0;
  top: -50px;
}
.rating-star {        
  display: block;
  float: right;        
  width: 16px;
  height: 16px;
  background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
.rating-star:hover,
.rating-star:hover ~ .rating-star {
  background-position: 0 0;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
background-position: 0 0;
}


.star {
	font-size: 16px !important;
	padding-bottom: 10px;
	
}

.navigation img{
	padding-right: 5px;
}
.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.breadcrumb>li {
	display: inline-block;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

.breadcrumb>.active {
	color: #999;
}

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px
}

.breadcrumb>li {
	display: inline-block
}

.breadcrumb>li+li:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #ccc
}

.breadcrumb>.active {
	color: #999
}
