.articleDivCss body{
	margin-top: 10px; 
	background-color: #eaeaea;
}

.articleDivCss .article-title
 {
	margin:0px 0 0px 5px;
	padding:8px 0 20px 0px;
	font-size:25px;
	font-weight:normal;
	color:#5eac56
}

.articleDivCss .article-title .a
 {
	margin:8px 0 8px 13px;
	padding:8px 0;
	font-size:25px;
	font-weight:normal;
	color:#6e6e6e
}


.articleDivCss p.article-info {
	margin-bottom:8px;
	padding:6px 12px;
	/*color:#00c3ff;*/
	color:#ffffff;
	background:#626161;
    width: 100%;
}


.articleDivCss .article-properties {
	border-top:1px solid #bbb;
	width:100%;
	background:#d2d2d2;
	padding:16px 20px;
}

.articleDivCss .article-summary{
	
}
.articleDivCss .article-related p 
{
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.articleDivCss .article-related p a
{
	color: #FF6600;
}


.articleDivCss .rating {
  overflow: hidden;
  display: inline-block;
}
.articleDivCss .rating-input {
  position: absolute;
  left: 0;
  top: -50px;
}
.articleDivCss .rating-star {        
  display: block;
  float: right;        
  width: 16px;
  height: 16px;
  background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
.articleDivCss .rating-star:hover,
.articleDivCss .rating-star:hover ~ .rating-star {
  background-position: 0 0;
}

.articleDivCss .rating-star:hover,
.articleDivCss .rating-star:hover ~ .rating-star,
.articleDivCss .rating-input:checked ~ .rating-star {
background-position: 0 0;
}


.articleDivCss .star {
	font-size: 16px !important;
	padding-bottom: 10px;
	
}

.articleDivCss .navigation img{
	padding-right: 5px;
}
 